<!-- Single Bar Chart -->
Hello
<angular-d3-bar [id]="test2" [data]="barChartData" [dataColumns]="dataColumns" [colors]="colors" [yAxisTicks]=10 [width]=400 [height]=200 [transitionDuration]=1000 [transitionDelay]=30 [barWidth]="'16px'"></angular-d3-bar>

<!-- Stacked Bar Chart -->
<!-- <angular-d3-bar [id]="test1" [alphaDistance]="0.3" [data]="barChartData"
 [dataColumns]="dataColumns1" [colors]="colors" [yAxisTicks]=10 [width]=400 [height]=200 
 [transitionDuration]=1000 [transitionDelay]=30
[barWidth]="'16px'"></angular-d3-bar> -->

<!-- Multi Bar Chart -->
<!-- <angular-d3-bar [id]="test1" [alphaDistance]="0.3" [data]="barChartData" 
[dataColumns]="dataColumns1" [colors]="colors" [yAxisTicks]=10
 [width]=400 [height]=200 [transitionDuration]=1000 [transitionDelay]=30
[barWidth]="'16px'"></angular-d3-bar> -->